# Python cache / bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
venv/

# Jupyter checkpoints
.ipynb_checkpoints

# OS files
.DS_Store
Thumbs.db

# Data: ignore raw, keep placeholder
data/*
!data/.gitkeep

# Results: ignore by default, but allow artifacts in any subfolder
results/**
!results/.gitkeep
!results/**/              # <-- UNIGNORE all subdirectories so Git can traverse them
!results/**/*.png
!results/**/*.html
!results/**/*.json
!results/**/*.txt
