# -------------------------
# Python cache and bytecode
# -------------------------
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/

# Jupyter notebook checkpoints
.ipynb_checkpoints

# OS-specific files
.DS_Store
Thumbs.db

# -------------------------
# Data & Results
# -------------------------

# Ignore everything in data except .gitkeep
data/*
!data/.gitkeep

# Ignore everything in results except .gitkeep and allowed artifacts
results/*
!results/.gitkeep
!results/**/*.png
!results/**/*.html
!results/**/*.json
!results/**/*.txt
