
__pycache__/
*.py[cod]
*$py.class
.venv/
.ipynb_checkpoints

# Ignore all data and results by default
data/*
!data/.gitkeep
results/*
!results/.gitkeep

# allow result artifacts
!results/*.png
!results/*.html
!results/*.json
!results/*.txt

# allow result artifacts (any run folder)
!results/**/*.png
!results/**/*.html
!results/**/*.json
!results/**/*.txt

# Misc
.DS_Store
Thumbs.db
